
  :root {
      --input-padding-x: 1.5rem;
      --input-padding-y: 0.75rem;
  }

  body {
    font-family: 'Quicksand';
  }
  
  .bg-image {
    background-image: url('/static/login/reddit_snoo.jpg');
    background-size: cover;
    background-position: 20%;
    position: relative; 
    overflow: hidden;
  }
  

  .card {
    position: fixed;
    display: flex;
    height: 500px;
    width: 400px;
    top: 25vh;
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.75);
    border-radius: 1.55em;
    border: 0;
    background: linear-gradient(-45deg, #ee0979, #fc4a1a, #2c3e50, #23d5ab);
    background-size: 500% 500%;
  }
  .animation {
    position: relative;
    animation: swipe 3s ease-in-out forwards infinite;
  }




  @keyframes swipe {
    0% {
      transform: rotate(12deg);
      left: 6em;
      background-position: 0% 50%;
    }
    50% {
      transform: rotate(-6deg);
      left: -3em;
      background-position: 100% 50%;
    }
    100% {
      transform: rotate(12deg);
      left: 6em;
      background-position: 0% 50%;
    }
  }

  

 .image-skeleton {
    position: relative;
    display: inline-block!important;
    height: 50%;
    width: 95%;
    border-radius: 1.3em;
    left: 2.5%;
    top: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75); 
  }

  .avatar-skeleton {
    position: relative;
    display: inline-block!important;
    height: 6.5%;
    width: 8%;
    border-radius: 5em;
    top: 2em;
    left: 2.5%;
    margin-top: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
  }

  .text-skeleton {
    position: relative;
    display: inline-block!important;
    height: 5%;
    width: 94%;
    border-radius: 1.2em;
    top: 2em;
    left: 2.5%;
    margin-top: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -0px 2px 5px rgba(0, 0, 0, 0.75); 
  }


  .cover{
    display: inline-block;
    height: 1em;
    width: 8ch;
    /* background-color: black; */
    /* z-index: 1; */
  }

  /* .card-heading {
    height: 1rem;
    width: 50%;
    margin: 5px;
    border-radius: 3px;
    color: black;
  } */

  .jumbotron {
    background: none;
    text-overflow: ellipsis;
  }

  .login,
  .image {
    min-height: 100vh;
  }
  
  .btn-container {
    text-align: center;
    padding: 10%;
  }
  
  .btn-white {
    background-color: #fff;
    color: black;
    border-radius: 2em;
    font-size: medium;
    text-decoration: none;
  }

  @media (max-width: 1065px) {
    .login {
      font-size: small;
    }
    .btn-white {font-size: small;}
  }
  
  .btn-white:hover {
    background-color: #f83d19;
  }

  i {
    margin-right: 0.2em;
  }