
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }


  .bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
    position: relative; 
  }

  .card {
    position: relative;
    height: 500px;
    width: 400px;
    top: 25vh;
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.75);
    border-radius: 1.55em;
    background-image: 
    radial-gradient( circle 20px at 20% 30%, grey 50%, transparent 0 ),
    linear-gradient(45deg, #aaa,#fff);

  }

  .cover{
    display: inline-block;
    height: 1em;
    width: 8ch;
    /* background-color: black; */
    /* z-index: 1; */
  }

  /* .card-heading {
    height: 1rem;
    width: 50%;
    margin: 5px;
    border-radius: 3px;
    color: black;
  } */

  .jumbotron {
    background: none;
  }

  .login,
  .image {
    min-height: 100vh;
  }
  
 
  
  .btn-container {
    text-align: center;
    padding: 10%;
  }
  
  .btn-white {
    background-color: #fff;
    color: black;
    border-radius: 2em;
    font-size: medium;
    text-decoration: none;
  }
  
  .btn-white:hover {
    background-color: #f83d19;
  }

  i {
    margin-right: 0.2em;
  }